h1,
h2,
h3 {
    font-family: 'Courier New', Courier, monospace;
    color: black;

}

.olRecipes {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
    text-align: center;
    list-style-position: inside;
}

.div1{
    background-color: antiquewhite;
}

.lasagnaDiv  p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.boldText{
    color: burlywood;
}

li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
}

Div .recipeImg {
    display: block;
    width: 30%;
    margin: auto;
    height: auto;
}

.recipesBody {
    background-color: azure;
}

Div .pizzaImg {
    display: block;
    height: auto;
    width: 15%;
}

.goBack{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}