h1,
h2,
h3 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    margin-top: 0;
    margin-left: 10%;
    margin-bottom: 5%;
}

.olRecipes {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
    text-align: center;
    list-style-position: inside;
    margin-top: 0px;
    
}

body{
    background-color: antiquewhite;
}

.lasagnaDiv  p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.lasagnaDiv h3{
    text-align: center;
}

.boldText{
    color: burlywood;
}

li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
}

Div .recipeImg {
    display: inline-block;
    width: 30%;
    margin: auto;
    height: auto;
    margin-left: 60%;
}

.recipesBody {
    background-color: azure;
}

Div .pizzaImg {
    display: block;
    height: auto;
    width: 15%;
}

.goBack{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


